.header-back , footer {
    background-color: #041f43 !important;

}

main{
    min-height: calc(100vh - 90px);
    
}

.original-border{
    height: 88px;
    background-color: #041f43
}
.output-border{
    min-height : 253px;

}
.btn-danger{
    font-size: 0.9rem;
    width: 250px;
}